<div class="row">
  <div class="col">
    <button class="btn btn-success" data-toggle="modal" data-target="#bondecommande"><i class="fa fa-user-plus"></i></button>
    <button class="btn btn-success" data-toggle="modal" data-target="#"><i class="fa fa-upload"></i></button>
    <button class="btn btn-success"><i class="fa fa-download"></i></button>
  </div>
  <div class="col">
      <input class="input_search" placeholder="search"  autocomplete="off">
  </div>
</div>

  <!--Start Create Approv Modal-->
  <div class="modal" id="bondecommande">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">BON DE COMMANDE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mb-1">
            <div class="col col-4"> Fournisseur </div>
            <div class="col col-8"> <input type="text" name="fournisseur" autocomplete="off" [(ngModel)]="fournisseur"> </div>
          </div>
          <div class="row mb-1">
            <div class="col">
                <select class="form-select" name="product" [(ngModel)]="product">
                    <option *ngFor="let product of products" value="{{ product }}">{{ product }}</option>
                </select>
            </div>
            <div class="col"><input class="form-control" type="number" name="quantity" [(ngModel)]="quantity" placeholder="quantité"></div>
            <div class="col"><input class="form-control" type="number" name="unit_price" [(ngModel)]="unit_price" placeholder="prix unitaire"></div>
            <div class="col"><button (click)="updateList()"><i class="fa fa-check"></i></button></div>
          </div>
          
                <table class="table table-bordered">
                  <thead>
                    <tr class="first_row_table">
                      <th>N°</th>
                      <th>Nom</th>
                      <th>Quantité</th>
                      <th>Prix Unitaire</th>
                      <th>Prix Totale</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row_table" *ngFor="let item of listproduits; let index=index;">
                      <td>{{ index+1 }}</td>
                      <td>{{ item.product }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>{{ item.unit_price }}</td>
                      <td>{{ item.total_price }}</td>
                      <td>
                        <i class="fa fa-trash mr-3" (click)="deleteItem(index)"></i>
                        <i class="fa fa-pencil mr-3" (click)="focusItem(index)"></i>
                      </td>
    
                    </tr>
                  </tbody>
              </table>
                
              <div class="row mb-1">
                  <div class="col">
                      <button type="button" (click)="openPDF()"><i class="fa fa-check"></i>Save</button>
                  </div>
                  <div class="col">
                    Prix Totale: {{ bill_price }}
                </div>
              </div>
                
        </div>
          
      </div>
    </div>
  </div>




   <!--Start Report Bon De Commande-->
   <div class="modal" id="report_bondecommande">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">BON DE COMMANDE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row mb-1">
            <div class="col col-4"> Fournisseur </div>
            <div class="col col-8"> {{ fournisseur }} </div>
          </div>
            <table class="table table-bordered">
              <thead>
                <tr class="first_row_table">
                  <th>N°</th>
                  <th>Nom</th>
                  <th>Quantité</th>
                  <th>Prix Unitaire</th>
                  <th>Prix Totale</th>
                </tr>
              </thead>
              <tbody>
                <tr class="row_table" *ngFor="let item of listproduits; let index=index;">
                  <td>{{ index+1 }}</td>
                  <td>{{ item.product }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.unit_price }}</td>
                  <td>{{ item.total_price }}</td>
                </tr>
              </tbody>
              </table>
                
              <div class="row mb-1">
                  <div class="col">
                      <button type="button" (click)="openPDF()"><i class="fa fa-check"></i>Save</button>
                  </div>
                  <div class="col">
                    Prix Totale: {{ bill_price }}
                </div>
              </div>
                
        </div>
          
      </div>
    </div>
  </div>

  <div id="report_bondecommande1" hidden>
    <p>hqzfpEF)QFJ PRJG Q PP R JERGM,NEJĜ kGE=ZEIP,ZEPR,QP GPQQOGINZIH,Eupoeghzegthyshsghshsrtb tyrs hs</p>
   </div>