<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img alt="logo" style="width:60px;" src="assets/logo.png">
  </a>
  <!-- Links -->
  <ul class="navbar-nav navbar-left mr-auto" id="content">
    <li class="nav-item" >
      <a class="nav-link" routerLink='/approv'>Approv</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink='/reapprov'>ReApprov</a>
    </li>
    <li class="nav-item" *ngIf=" role == 'rmg' ">
      <a class="nav-link" routerLink='/produits'>Produits</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink='/budget'>Budget</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink='/stats'>Stats</a>
    </li>
  </ul>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Mon Profil
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <i class="fa fa-user"> {{ name }} </i>
      <i class="fa fa-key" style="cursor: pointer;" > Changer MDP </i>
      <i class="fa fa-sign-out" style="cursor: pointer;" (click)="logOut()"> Deconnexion </i> 
    </div>
  </div>
</nav>

