<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img alt="logo" style="width:60px;" src="assets/logo.png">
  </a>
  <!-- Links -->
  <ul class="navbar-nav navbar-left" id="content">
    <li class="nav-item" >
      <a class="nav-link" routerLink='/approv'>Approv</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink='/reapprov'>ReApprov</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/produits'>Produits</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link" routerLink='/stats'>Stats</a>
    </li>
  </ul>
  <i class="fa fa-sign-out" (click)="logOut()"> Deconnexion </i> 
</nav>

