.fa{cursor: pointer;}

.card{
    padding: 25px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: calc(.15rem - 1px);
    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
    }
