<div class="card mx-auto my-5" style="width: 25rem;">
    <div class="card-header">
        <h5 class="card-title">Changez le mot de passe pour {{ email }}</h5>
    </div>
    <div class="card-body">
        <form (ngSubmit)="resetPassword(f)" #f="ngForm">
            <div class="row mb-4">
                <div class="col">
                    Nouveau Mot de passe<br/>
                    <input class="form-control" type="password" name="password1" ngModel autocomplete="off"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    Confirmez votre mot de passe<br/>
                    <input class="form-control" type="password" name="password2" ngModel autocomplete="off"/>
                </div>
            </div>
            <i *ngIf="!areEqual" style="color: red;">"Les mots de passes ne sont pas identiques"</i>

            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-danger" style="float: right;" type="submit">Valider</button>
                </div>
            </div>

        </form>
    </div>

    <!--<div class="card-body" *ngIf="resetSuccess==1">
        <div class="row mt-3">
            <i style="color: green;"> {{ message }}</i>
            <div class="col">
                <button class="btn btn-danger" style="float: right;" (click)="signinPage()">Connexion</button>
            </div>
        </div>
    </div> -->
</div>
